agithub==2.1
alabaster==0.7.12
Babel==2.9.1
certifi==2022.5.18
chardet==3.0.4
colorama==0.4.5
CommonMark==0.7.5
comtypes==1.2.0
cx-Freeze==5.1.1
docutils==0.18.1
future==0.18.3
idna==2.7
imagesize==1.4.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.18.5
packaging==20.9
Pillow==7.2.0
psutil==5.4.7
pycryptodome==3.4.4
pycurl==7.43.0.3
Pygments==2.11.2
pyparsing==2.4.7
Pypubsub==4.0.3
pytz==2023.3.post1
pywin32==301
qrcode==6.0
requests==2.19.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.0b1
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
tornado==5.1
urllib3==1.23
websocket-client-py3==0.15.0
wxPython==4.0.3
